.page.theme_dark {
  --background-image: url("../images/cover-image-dark.png");
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --accent-color-href: #FF0070;
  --accent-color-second: #000028;
  --hover-color: rgba(255, 0, 112, 0.40);
}
