.page.theme_light {
  --background-image: url(../images/cover-image-light.png);
  --text-color: #353430;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --accent-text-color: #353430;
  --nav-decorate-color: #353430;
  --hover-color: rgba(50, 49, 45, 0.40);
  --decor: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --text-color: #353430;
    --title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --accent-text-color: #353430;
    --nav-decorate-color: #353430;
    --hover-color: rgba(50, 49, 45, 0.40);
    --decor: hidden;
  }
}